@charset "utf-8";
/* CSS Document */

.headerbg{
	background-color:azure;
	margin-top: 10px;
}
.sosyal{
	border-left: 1px solid black;
}
.sosyal a{
	float:left;
}
.marginleft{
	margin-left: 200px;
}
.content{
	height: 550px;
	background: url(../images/ban1.jpg) ;
	
}
.content h2{
	color:aquamarine;
	font-size: 24px;
	padding-left: 200px;
	padding-top: 30px;
}
.content ul{
	list-style-type: circle;
	margin: 0px;
	padding: 0px 20px;
	
}
.content li{
	color: aliceblue;
	font-size: 17px;
}
